In [8]:
import pandas as pd
original_data = pd.read_csv('panda.csv')
original_data

  columnName  Key1  Key2  AddKey  InitalKeyValue  ComparedValue
0         zz  6251  6488    null            1000           1500
1         yy  6251  6488    null            2000           2200
2         ea  6309  6334  HD-027            5000           1600

In [9]:
o = original_data.groupby(["Key1","Key2"]).count()
o

           columnName  AddKey  InitalKeyValue  ComparedValue
Key1 Key2
6251 6488           2       2               2              2
6309 6334           1       1               1              1